---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting"
import Carousel from "../components/Carousel.astro";
const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Random Greeting using Preact</h2>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />

  <!-- <h2>Images</h2> -->
  <!-- <Carousel /> -->

</BaseLayout>
